**/.DS_Store
**/*.(zwc|tmp|swp)
**/*~

# not _presently_ managing asdf configurations
/.tool-versions


# The .config directory is a mix of saved and not
/.config/nvim/autoload
/.config/nvim/plugged
/.config/htop
/.config/iterm2
/.config/configstore/
/.config/gh/
/.config/op/
/.config/gcloud/
/.config/containers
/.config/wireshark

# The set of ssh keys I want available is machine-specific
/.config/1Password/ssh/agent.toml


# .zsh has all things zsh -- most should be version controlled, but ones that
# are generated should not.
/.zsh/debug
/.zsh/plugins


# System-local things shouldn't generally be shared
/.zshrc.local
/.local


# Packager-related directories
/.gem
/.venv



# Potentially sensitive things shouldn't be stored
/.aws
/.docker
/.gnupg*
/.history
/.ipython
/.kube
/.node_repl_history
/.oci
/.psql_history
/.python_history
/.sqlite_history
/.ssh
/.terraform.d
/.colima
/.lima
/.rancher


# Caches shouldn't be stored
/.cache
/tmp
/.viminfo
/.ansible
# .terminfo woudln't _have_ to be a cache, but that's how I've set it up for now
/.terminfo
/.wget-hsts
/.npm
/.fontconfig
/.zcompcache
/.zcompdump
/go

# No tracking for bash files at present
/.bash*
/.modell_bash_history


# Locations I manage via git that shoudln't be stored in this repo
/.dotfiles.git
/.etc.git
/src
/contrib
/wd
/.asdf

# macOS stuff
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/.Trash
/.cups
/.CFUserTextEncoding

/Dropbox
/.dropbox
/SynologyDrive
/Google\ Drive

# I don't use subversion for anything at the moment, but something keeps triggering generation of
# configuration for it, so ignore that.
/.subversion

#.gnupg-074/
#.gnupg-079/
#bin/
#contrib/
#music-restore/
#myscript
#myscript-f
#oldetc/
#private/
#src/

# Miscellaneous things related to work
/.okta
