**/.DS_Store
**/*.(zwc|tmp|swp)
**/*~


# The .config directory is a mix of saved and not
/.config/nvim/autoload
/.config/nvim/plugged
/.config/htop
/.config/iterm2
/.config/configstore/
/.config/gh/
/.config/op/
/.config/gcloud/
/.config/containers


# .zsh has all things zsh -- most should be version controlled, but ones that
# are generated should not.
/.zsh/debug
/.zsh/plugins


# System-local things shouldn't generally be shared
/.zshrc.local
/.local


# Packager-related directories
/.gem



# Potentially sensitive things shouldn't be stored
/.aws
/.docker
/.gnupg*
/.history
/.ipython
/.kube
/.node_repl_history
/.oci
/.psql_history
/.python_history
/.ssh
/.terraform.d
/.colima
/.lima
/.rancher


# Caches shouldn't be stored
/.cache
/tmp
/.viminfo
/.ansible
# .terminfo woudln't _have_ to be a cache, but that's how I've set it up for now
/.terminfo
/.wget-hsts
/.npm
/.fontconfig


# Locations I manage via git that shoudln't be stored in this repo
/.dotfiles.git
/.etc.git
/src
/contrib
/bmc
/.asdf

# macOS stuff
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/.Trash
/.cups
/.CFUserTextEncoding

/Dropbox
/.dropbox
/SynologyDrive

# I don't use subversion for anything at the moment, but something keeps triggering generation of
# configuration for it, so ignore that.
/.subversion

#.gnupg-074/
#.gnupg-079/
#bin/
#contrib/
#music-restore/
#myscript
#myscript-f
#oldetc/
#private/
#src/

# Miscellaneous things related to work
/.anyconnect
/.cisco
/.onbmc
/OneDrive - BMC Software, Inc
