[user]
	name = Michael Odell
	email = michael@theodells.us
[color]
	ui = auto
[grep]
	patternType = perl
	lineNumber = true
[log]
	decorate = auto
[fetch]
	prune = true
	tags = true
[alias]
	glog = log --graph --oneline
    manifest = ls-tree -r --name-only --full-tree HEAD
    root = rev-parse --show-toplevel

[advice]
    detachedHead = false

# https://medium.com/@porteneuve/fix-conflicts-only-once-with-git-rerere-7d116b2cec67
[rerere]
    enabled = true

[diff "blackbox"]
    textconv = gpg --use-agent -q --batch --decrypt

[diff "sops"]
    textconv = sops -d

[push]
	default = matching

[merge]
	conflictStyle = diff3
	tool = Kaleidoscope

[includeIf "gitdir:~/bmc/"]
    path = ~/.gitconfig.bmc

[includeIf "gitdir:~/Library/CloudStorage/OneDrive-BMCSoftware,Inc/"]
    path = ~/.gitconfig.bmc

[includeIf "gitdir:~/.zsh/plugins/*bmc*/"]
    path = ~/.gitconfig.bmc

[pull]
	ff = only
[init]
	defaultBranch = main
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
